<h2> Hello, you are viewing <%= @image.name %></h2>

<div>
  <%= link_to "Edit Image", edit_gallery_image_path(@gallery, @image) %>
</div>

<%= form_for [@image, @comment] do |form| %>
<div>
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>


<%= render "error_messages", target: @comment %>

<div>
  <%= form.submit %>
</div>
<% end %>

<% if !current_user.likes?(@image) %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% else %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% end %>

<div>
    <% @comments.recent.word.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>

<%= image_tag @image.url %>
